[submodule "tests/bcachefs/bcachefs-tools"]
        path = tests/bcachefs/bcachefs-tools
        url = https://github.com/koverstreet/bcachefs-tools.git
[submodule "tests/xfstests"]
        path = tests/xfstests
        url = https://github.com/kdave/xfstests.git
[submodule "tests/bcachefs/linuxquota-code"]
        path = tests/bcachefs/linuxquota-code
        url = https://github.com/leeminghao/linux-quota.git
[submodule "tests/blktests"]
        path = tests/blktests
        url = https://github.com/osandov/blktests.git
