.*
*.o
cscope*
tags
ktest-out
*.tags

lib/lwip-connect
lib/supervisor

ltp-fsx/ltp-fsx

tests/bcachefs/bcachefs-tools
tests/bcachefs/linuxquota
tests/xfstests

!.gitignore
!.editorconfig
!.shellcheckrc
