.*
*.o
cscope*
tags
ktest-out
*.tags
cross.conf

lib/lwip-connect
lib/supervisor

ltp-fsx/ltp-fsx

tests/fs/bcachefs/bcachefs-tools
tests/fs/bcachefs/linuxquota
tests/fs/xfstests

target

!.gitignore
!.editorconfig
!.shellcheckrc

*~
