[submodule "debootstrap"]
	path = debootstrap
	url = https://anonscm.debian.org/git/d-i/debootstrap.git
[submodule "tests/bcachefs/bcachefs-tools"]
	path = tests/bcachefs/bcachefs-tools
	url = http://evilpiepirate.org/git/bcachefs-tools.git
[submodule "tests/xfstests"]
	path = tests/xfstests
	url = http://evilpiepirate.org/git/xfstests.git
