name: Validate Build and Format

on:
  push:
  pull_request:

jobs:
  build-and-format:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust Toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
        override: true

    - name: Install Nightly Toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        profile: minimal
        components: rustfmt

    - name: Install Dependencies
      run: sudo apt-get update && sudo apt-get install -y capnproto

    - name: Build
      run: cargo build --verbose

    - name: Check formatting
      run: cargo +nightly fmt -- --check
